<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenAPI Задание</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="leftPart">
        <form id="apiForm">
            <input type="text" id="idInstance" name="idInstance" placeholder="idInstance" required>
            <input type="text" id="apiTokenInstance" name="apiTokenInstance" placeholder="apiTokenInstance" required>
            
            <button type="button" onclick="fetchSettings()">getSettings</button>
            <button type="button" onclick="fetchStateInstance()">getStateInstance</button>
        </form>
    </div>
    
    <div id="rightPart">
        <label>Ответ:</label>
        <textarea id="resultArea" rows="10"></textarea>
    </div>

    <script>
        function fetchSettings() {
            $.post('/getSettings', $('#apiForm').serialize(), function(data) {
                if (data.error) {
                    $('#resultArea').val(data.error);
                } else {
                    let parsedData = JSON.parse(data.response);
                    let formattedData = JSON.stringify(parsedData, null, 4);
                    $('#resultArea').val(formattedData);
                }
            });
        }

        function fetchStateInstance() {
            $.post('/getStateInstance', $('#apiForm').serialize(), function(data) {
                if (data.error) {
                    $('#resultArea').val(data.error);
                } else {
                    let parsedData = JSON.parse(data.response);
                    let formattedData = JSON.stringify(parsedData, null, 4);
                    $('#resultArea').val(formattedData);
                }
            });
        }
    </script>
</body>
</html>
